/* css styles */
strong {
    color: rgb(255, 102, 161); /* 设置strong标签的文字颜色为红色 */
}

.columns .column {
    padding-left: 5px;  /* 左侧内边距 */
    padding-right: 5px; /* 右侧内边距 */
}

/* .columns {
    margin-top: 50px;    
    margin-bottom: 5px; 
} */

.callout {
    margin-top: 7px; /* 上侧外边距 */
    margin-bottom: 7px;/* 下侧外边距 */
}

/* 解决callout中列表行间距过大问题 */
li p {
    margin-bottom: 0;
}

/* 减小callout和列表之间的空白 */
ol,ul,dl {
    margin-top: 0;
    margin-bottom: 0rem;
}

/* 减小iframe底部的留白 */
iframe {
    margin-bottom: 0em;
}

/* 小屏幕适配样式，为切换显示样式 */
body.force-small-screen {
    body .page-columns,body.fullcontent:not(.floating):not(.docked) .page-columns,body.slimcontent:not(.floating):not(.docked) .page-columns,body.docked .page-columns,body.docked.slimcontent .page-columns,body.docked.fullcontent .page-columns,body.floating .page-columns,body.floating.slimcontent .page-columns,body.floating.fullcontent .page-columns {
        display:grid !important ;
        gap: 0 !important ;
        grid-template-columns: [screen-start] 1.5em [screen-start-inset page-start page-start-inset body-start-outset body-start body-content-start] minmax(0px, 1fr) [body-content-end body-end body-end-outset page-end-inset page-end screen-end-inset] 1.5em [screen-end] !important 
    }

    body:not(.floating):not(.docked) .page-columns.toc-left {
        display: grid !important ;
        gap: 0 !important ;
        grid-template-columns: [screen-start] 1.5em [screen-start-inset page-start page-start-inset body-start-outset body-start body-content-start] minmax(0px, 1fr) [body-content-end body-end body-end-outset page-end-inset page-end screen-end-inset] 1.5em [screen-end] !important 
    }

    body:not(.floating):not(.docked) .page-columns.toc-left .page-columns {
        display: grid !important ;
        gap: 0 !important ;
        grid-template-columns: [screen-start] 1.5em [screen-start-inset page-start page-start-inset body-start-outset body-start body-content-start] minmax(0px, 1fr) [body-content-end body-end body-end-outset page-end-inset page-end screen-end-inset] 1.5em [screen-end] !important 
    }

    nav[role=doc-toc] {
        display: none !important 
    }
}